<launch>
  <arg name="gui" default="false" doc="start gazebo gui. should be true when used with rapyuta.io"/>
  <arg name="rviz" default="true" doc="start rviz should be false when used with rapyuta.io"/>
  <arg name="model" default="$(optenv TURTLEBOT3_MODEL burger)" doc="turtlebot3 model type [burger, waffle, waffle_pi]"/>

  <!-- simulator -->
  <include file="$(find io_gazebo_turtlebot_bringup)/launch/sim.launch">
    <arg name="load_common_param" value="true"/>
    <arg name="model" value="$(arg model)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- app -->
  <include file="$(find io_gazebo_turtlebot_bringup)/launch/app.launch">
    <arg name="load_common_param" value="false"/>
    <arg name="model" value="$(arg model)"/>
    <arg name="rviz" value="$(arg rviz)"/>
  </include>
</launch>
