<?xml version="1.0"?>
<launch>
  <arg name="load_common_param" default="true" doc="this param in the either sim.launch or app.launch should be true"/>
  
  <arg name="gui" default="true"/>
  <arg name="paused" default="true"/>  
  
  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include if="$(arg load_common_param)" file="$(find ur_robotiq_bringup)/launch/common.launch">
    <arg name="gazebo" value="true"/>
  </include>

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>
</launch>
