<launch>
  <arg name="gui" default="false"/>

  <node name="tf_prefix_separator" pkg="io_gazebo_turtlebot_gazebo" type="tf_prefix_separator.py" output="screen" />

  <!-- spawn world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
</launch>
